.jkr-about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jkr-about-column {
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.jkr-about-main h2 {
  text-align: center;
}
.jkr-about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.jkr-about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.jkr-about-card .container {
  padding: 0 16px;
}
.jkr-about-card img {
  width: 80%;
}
.jkr-about-card .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.jkr-about-card .title {
  color: grey;
}
.jkr-about-card .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.jkr-about-card .button:hover {
  background-color: #555;
}
@media screen and (max-width: 600px) {
  .jkr-about-section {
    width: auto;
    display: block;
  }
  .jkr-about-row {
    flex-direction: column;
  }
  .jkr-about-column {
    width: 80%;
  }
}