/****** common styles *******/
body {
    font-family: 'DM Sans', serif;
    font-size: 1rem;
    margin: 0;
    background: #F2F6F7;
    box-sizing: border-box;
}
button {
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
/****** jkr-header styles *******/
.jkr-header {
    position: sticky;
    top: 0;
    background: white;
    padding: 1% 10%;
}
.jkr-header, .jkr-header-title {
    display: flex;
    align-items: center;
}
.jkr-header-title {
    font-weight: bold;
    font-size: 30px;
}
.jkr-header-title img {
    width: 2rem;
    margin-right: 0.5rem;
}
.jkr-header-menu {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 70%;
    justify-content: space-around;
}
.jkr-header-menu a {
    text-decoration: none;
    color: black;
}
.jkr-header-menu li:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    .jkr-header {
        flex-wrap: wrap;
    }
    .jkr-header-title {
        flex-basis: 100%;
        justify-content: center;
    }
    .jkr-header-menu {
        flex-wrap: wrap;
        padding: 1rem 0;
        margin: auto;
        text-align: center;
    }
    .jkr-header-menu li {
        flex-basis: 100%;
    }
}
/****** jkr-footer styles *******/
.jkr-footer {
    display: flex;
    justify-content: center;
}