.jkr-about-main {
  background-color: black;
  color: white;
}
.jkr-about-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.jkr-about-column {
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.jkr-about-main h2 {
  text-align: center;
  margin: 3rem 0;
}
.jkr-about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: white;
  color: black;
}
.jkr-about-section {
  padding: 50px;
  text-align: center;
  color: black;
  background-color: white;
  background: no-repeat center url('../img/home-about-bg-img.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;
}
.jkr-about-card .container {
  padding: 0 16px;
}
.jkr-about-card img {
  width: 80%;
}
.jkr-about-card .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.jkr-about-card .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.jkr-about-card .button:hover {
  background-color: #555;
}
@media screen and (max-width: 600px) {
  .jkr-about-section {
    width: auto;
    display: block;
  }
  .jkr-about-row {
    flex-direction: column;
  }
  .jkr-about-column {
    width: 80%;
  }
}