<!DOCTYPE html>
<html>
    <head>
        <title>JKR</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about-us.css')}}" />
        <link rel="icon" href="{{ url_for('static', filename='img/home-logo.png')}}" type="image/icon">
    </head>
    <body>
      {% include "header.html" ignore missing %}
        <div class="jkr-about-main">
          <div class="jkr-about-section">
            <h1>ABOUT US</h1>
            <p>Some info about who we are and what we do.</p>
          </div>
          
          <h2>Our Team</h2>
          <div class="jkr-about-row">
            <div class="jkr-about-column">
              <div class="jkr-about-card">
              <img src="{{ url_for('static', filename='img/rupa.png')}}" alt="Rupa">
                <div class="container">
                  <h2>Rupa</h2>
                  <p>Helped with Services, About Us and Contact US pages in JKR Agency and 
                    added Javascripts for the same to make it Interactive. 
                    Worked on creating Flask Framework Design for the pages along with the team. Also, helped in establishing 
                    and connecting to the data set to make web pages more dynamic.</p>
                  <p>hemanagarupasrim@usf.edu</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
     <div class="jkr-about-column">
				<div class="jkr-about-card">
          <img src="{{ url_for('static', filename='img/jaswanth.jpeg')}}" alt="Jaswanth">
				  <div class="container">
              <h2>Jaswanth</h2>
					<p>Worked on web development using HTML and CSS. 
            Made the webpages Interactive using JavaScript and added Pie-Chart, line graph. 
            Helped the team in Flask Framework design, 
            and to establish the connection between database and Web app to make web pages more dynamic</p>
					<p>jaswanth30@usf.edu</p>
					<p><button class="button">Contact</button></p>
				  </div>
				</div>
			</div>
            <div class="jkr-about-column">
              <div class="jkr-about-card">
                <img src="{{ url_for('static', filename='img/kushal.jpeg')}}" alt="Kushal">
                <div class="container">
                  <h2>Kushal</h2>
                  <p>Developed Home of JKR agency website.
                    Added some animations and carousels to our web page.
                    I also included 3rd party libraries like chart js to enhance our webpage. Along with that, I helped in
                    establishing the connection to the data set to make web pages more dynamic.</p>
                  <p>chavvak@usf.edu</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% include 'footer.html' ignore missing %}
        {% include 'login.html' ignore missing %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>