<!DOCTYPE html>
<html>
    <head>
        <title>JKR</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact-us.css')}}" />
        <link rel="icon" href="{{ url_for('static', filename='img/home-logo.png')}}" type="image/icon">
    </head>
    <body class="contact">
        {% include "header.html" ignore missing %}
        {% if msg %}
            <div class="jkr-contact-response">Hi, {{ fname }} - {{ msg }}</div>
        {% else %}
            <div class="jkr-sell">
                <div class="jkr-sell-title"><strong>CONTACT US</strong></div>
                <div class="jkr-sell-content">
                    <h2>We promise to get back to you as soon as we can!!</h2>
                    <h2>Contact us for more Info.</h2>
                    <form method="POST" action="/contact-us.html">
                        <div class="field-fname">
                            <label for="jkr-fname">First name:</label>
                            <input type="text" id="jkr-fname" name="jkr-fname" required>
                        </div>
                        <div class="field-lname">
                            <label for="jkr-lname">Last name:</label>
                            <input type="text" id="jkr-lname" name="jkr-lname" required>
                        </div>
                        <div class="field-mail">
                            <label for="jkr-mail">Email:</label>
                            <input type="email" id="jkr-mail" name="jkr-mail" required>
                        </div>
                        <div class="field-mobile">
                            <label for="jkr-phone">Mobile:</label>
                            <input type="tel" id="jkr-phone" name="jkr-phone" required>
                        </div>
                        <div class="field-issue">
                            <label for="jkr-issue">Subject:</label>
                            <textarea type="text" id="jkr-issue" name="jkr-issue" required></textarea>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% include 'footer.html' ignore missing %}
        {% include 'login.html' ignore missing %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </body>
</html>