<footer class="jkr-footer">
    <div class="jkr-social">
        <h4>Follow us on:</h4>
        <div class="jkr-media-links">
            <a href="https://www.facebook.com/" target="_blank"><img src="img/home-facebook.png"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img src="img/home-linkedin.png"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="img/home-twitter.png"></a>
            <a href="https://www.whatsapp.com/" target="_blank"><img src="img/home-whatsapp.png"></a>
        </div>
    </div>
    <h3 class="jkr-copyright">
        © 2022 JKR. All Rights Reserved
    </h3>
    <img src="img/footer-art.png">
</footer>