<header class="jkr-header">
    <div class="jkr-header-icon">
     <img src="{{ url_for('static', filename='img/hamburger-menu.png')}}">
    </div>
    <div class="jkr-close-header-icon">
       <img src="{{ url_for('static', filename='img/close-icon.png')}}">
    </div>
    <div class="jkr-header-title">
        <a href="./index.html">
            <img src="{{ url_for('static', filename='img/home-logo.png')}}" alt="Home Icon">
            <div class="jkr-header-title-content">JKR</div>
        </a>
    </div>
    <ul class="jkr-header-menu">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about-us.html">About Us</a></li>
        <li><a href="./services.html">Services</a></li>
        <li><a href="./contact-us.html">Contact Us</a></li>
    </ul>
    <div class="jkr-header-account">
        {% if fname %}
            <div class="jkr-header-user">Hi {{fname}} - Logout</div>
        {% else %}
            <img src="{{ url_for('static', filename='img/home-account.png')}}" alt="Account Login" data-micromodal-trigger="modal-1">
        {% endif %}
    </div>
</header>