<!DOCTYPE html>
<html>
    <head>
        <title>JKR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
        <link rel="icon" href="{{ url_for('static', filename='img/home-logo.png')}}" type="image/icon">
    </head>
    <body>
        {% include "header.html" ignore missing %}
        <div class="jkr-main">
            <div class="jkr-content1">
                <div class="jkr-content1-text">
                    <div class="jkr-content1-title">Find a new happy home</div>
                    <div class="jkr-content1-subtitle">
                        <h3>Now you can buy, sell or rent a new home all in one place at JKR </h3>
                    </div>
                </div>
            </div>
            <div class="jkr-content2">
                <h1 class="jkr-content2-header">
                    Services We Provide
                </h1>
                <div class="jkr-content2-body">
                    <div class="jkr-content2-card">
                        <img src="{{ url_for('static', filename='img/buy-a-home.webp')}}">
                        <div class="jkr-card-content">
                            <div class="jkr-card-title">
                                Buy a home
                            </div>
                            <div class="jkr-card-desc">
                                Find your place with an immersive photo experience and the most listings, including things you won't find anywhere else.
                            </div>
                            <button type="button">Buy now</button>
                        </div>
                    </div>
                    <div class="jkr-content2-card">
                        <img src="{{ url_for('static', filename='img/finance_a_home.webp')}}">
                        <div class="jkr-card-content">
                            <div class="jkr-card-title">
                                Sell a home
                            </div>
                            <div class="jkr-card-desc">
                                We make it  very easy to take further steps to find the right price, so you can sell your home at the best price.
                            </div>
                            <button type="button">Sell now</button>
                        </div>
                    </div>
                    <div class="jkr-content2-card">
                       <img src="{{ url_for('static', filename='img/rent_a_home.webp')}}">
                        <div class="jkr-card-content">
                            <div class="jkr-card-title">
                                Rent a home
                            </div>
                            <div class="jkr-card-desc">
                                We're creating a seamless online experience - from shopping on the largest rental network, to applying, to paying rent.
                            </div>
                            <button type="button">Rent now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jkr-content3">
                <h1 class="jkr-content3-header">
                    Some of our Listings
                </h1>
                <div class="jkr-content3-body">
                    <div class="jkr-images-container">
                        <div class="jkr-listing jkr-fade">
                            <img src="{{ url_for('static', filename='img/home-buy-01.jpg')}}">
                            <div class="jkr-listing-text">Cambridge Woods</div>
                        </div>
                    
                        <div class="jkr-listing jkr-fade">
                            <img src="{{ url_for('static', filename='img/home-buy-02.jpg')}}">
                            <div class="jkr-listing-text">Sunstone Palms</div>
                        </div>
                    
                        <div class="jkr-listing jkr-fade">
                        <img src="{{ url_for('static', filename='img/home-buy-03.jpg')}}">
                            <div class="jkr-listing-text">Oak Ramble Apartments</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jkr-amenities">
                <h1 class="jkr-amenities-title">Our Amenities</h1>
                <div class="jkr-amenities-content">
                    <div class="jkr-amenities-card">
                        
                        <img src="{{ url_for('static', filename='img/home-smart-lock.jpg')}}">
                        <div class="jkr-amenities-card-title">Smart Locks</div>
                    </div>
                    <div class="jkr-amenities-card">
                        <img src=" {{ url_for('static', filename='img/home-swimming-pool.jpg')}}">
                        <div class="jkr-amenities-card-title">Swimming Pool</div>
                    </div>
                    <div class="jkr-amenities-card">
                        <img src="{{ url_for('static', filename='img/home-smart-outlet.jpg')}}">
                        <div class="jkr-amenities-card-title">Smart Outlets</div>
                    </div>
                    <div class="jkr-amenities-card">
                        <img src="{{ url_for('static', filename='img/home-parking.jpg')}}">
                        <div class="jkr-amenities-card-title">Parking Space</div>
                    </div>
                    <div class="jkr-amenities-card">
                        <img src="{{ url_for('static', filename='img/home-security.jpg')}}">
                        <div class="jkr-amenities-card-title">Private Security</div>
                    </div>
                    <div class="jkr-amenities-card">
                        <img src="{{ url_for('static', filename='img/home-smart-thermostat.jpg')}}">
                        <div class="jkr-amenities-card-title">Smart Thermostat</div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' ignore missing %}
        {% include 'login.html' ignore missing %}     

        <!-- scripts -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>